.library-name a {
    position: relative;
    margin-left: 55px;
}

.library-name a::before {
    content: '';
    background: url('../images/gtk-kt.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -18px;
    left: -55px;
}
